:root {
    --bg: #241F19;
    --text: #ECEAE3;
    --primary: #BD8F6E;
    --secondary: #E7D7C8;
    --tertiary: #88816E;

    --fs-sm: .875rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 1.75rem;
    --fs-2xl: 2rem;
    --fs-3xl: 4rem;
    --fs-4xl: 8vw;
}

@font-face {
    font-family: 'Screamer';
    src: url('../fonts/FKScreamer-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Screamer';
    src: url('../fonts/FKScreamer-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Screamer';
    src: url('../fonts/FKScreamer-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Screamer';
    src: url('../fonts/FKScreamer-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial';
    src: url('../fonts/PPEditorialNew-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial';
    src: url('../fonts/PPEditorialNew-Ultralight.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial';
    src: url('../fonts/PPEditorialNew-Ultrabold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: Screamer, sans-serif;
    font-size: var(--fs-4xl);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
}

h2 {
    font-family: Screamer, sans-serif;
    font-size: var(--font-desktop--h2);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
}

h3 {
    font-family: Screamer, sans-serif;
    font-size: var(--font-desktop--h3);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
}

h4 {
    font-family: Screamer, sans-serif;
    font-size: var(--font-desktop--h4);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
}

h5 {
    font-family: Screamer, sans-serif;
    font-size: var(--font-desktop--h5);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
}

h6 {
    font-family: Screamer, sans-serif;
    font-size: var(--font-desktop--h6);
    font-variation-settings: "wght" 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .9;
}

p {
    z-index: 5;
    font-family: Editorial, sans-serif;
    font-size: var(--font-desktop--body);
    letter-spacing: -.02em;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 1.4;
    position: relative;
}

a {
    text-decoration: underline;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 2rem;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2rem;
}

li {
    font-family: Editorial, sans-serif;
    font-size: var(--font-desktop--body);
    font-weight: 200;
    line-height: 1.4;
}

img {
    object-fit: cover;
    max-width: 100%;
    display: inline-block;
}


body,
html {
    background-color: var(--bg);
    font-size: 14px;
}


/*HERO*/
.hero {
    position: relative;
    color: var(--primary);
}



/*FOOTER*/
footer {
    position: fixed;

}
